{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "java", "clike", "python", "rust", "go", "php", "bash", "scala", "bash"],
      "plugins": ["line-numbers"],
      "theme": "twilight",
      "css": true
    }]
  ]
}